# Shared JWT secret.
JWT_SECRET=16d9cacc-f4ed-4446-806a-2bbb7c8915de

# HTTP port for the Express app server.
API_PORT=4000

# HTTPS port for the Express app server.
API_HTTPS_PORT=4200

# Connection string to the Mongo database. A Mongo connection string is formed
# like this: mongodb://<MONGO_DB_IP>:27017/<database-name>
#
# https://docs.mongodb.com/manual/reference/connection-string/
MONGO_URI=mongodb://0.0.0.0:27017/example-database

# Path to the private-key .pem file
PRIVATE_KEY_PATH=fake/file/path.pem

# Path to the certificate .pem file
CERTIFICATE_PATH=fake/file/path.pem

# Path to the chain .pem file
CHAIN_PATH=fake/file/path.pem
